@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
* *, *:before *, *:after * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  box-sizing: border-box;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 750px) {
  body {
    width: 100%;
  }
  body .quote div .squareimage {
    padding: 0px;
  }
  body .sad .fakefooter div {
    width: 50%;
    max-width: 1080px;
    padding-top: 1vh;
  }
  body .sad nav li {
    display: block;
    padding-right: 25px;
  }
  body .sad nav img {
    display: inline;
    padding: 5px;
  }
  body .sometext p {
    padding: 0px 10px 10px;
  }
  body .whatwedo div {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  body .whatwedo div .leftpictures {
    width: 100%;
  }
  body .whatwedo div .rightpictures {
    display: block;
    width: 100%;
  }
  body .idk .picture {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  body .idk .picture img {
    width: 100%;
    margin-bottom: 10px;
  }
  body .idk .fieldtextarea {
    width: 100%;
    margin: 0 auto;
  }
  body nav li {
    display: block;
    padding-right: 25px;
  }
  body nav img {
    display: inline;
    padding: 5px;
  }
  body .workwith .firstrow {
    padding: 0;
  }
  body .workwith .secondrow {
    padding: 0;
    border: none;
  }
  body .workwith div {
    width: 100%;
  }
  body .workwith div div {
    display: block;
    padding: 25px 210px 25px 0px;
  }
  body .workwith div div p {
    width: 24rem;
    padding-left: 0px;
  }
  body .happyclients {
    width: 100%;
  }
  body .happyclients .main {
    width: 100%;
    padding: 25px;
  }
  body .happyclients .main div {
    display: block;
    width: 100%;
    text-align: center;
  }
  body .happyclients .main div .conttwo {
    display: block;
    text-align: center;
    padding-left: 0;
  }
  body .happyclients .main p {
    width: 100%;
  }
  body .quotetwo div .pfppicture {
    padding: 0px;
  }
  body .quotetwo div .squareimage {
    padding: 0px;
  }
}
textarea::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px #95e1d3;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #95e1d3;
  -webkit-box-shadow: inset 0 0 0px #95e1d3;
}

.sometext {
  text-align: center;
  margin: 0 auto;
}
.sometext h6 {
  font-family: Kaushan Script, sans-serif;
  font-size: 2.4rem;
  color: #333333;
  padding: 50px 0px 20px;
}
.sometext h5 {
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #333333;
  padding-bottom: 35px;
}
.sometext p {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: #999999;
  width: 1200px;
  padding: 0px 0px 80px;
  max-width: 100%;
}
.sometext img {
  padding-bottom: 40px;
}

.sad {
  margin: 0 auto;
  text-align: center;
  color: white;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  background-image: url("images/BGbird.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: white;
  font-size: 1.6rem;
  padding-top: 2vh;
}
.sad h4 {
  font-family: Kaushan Script, sans-serif;
  font-size: calc(3vw + 1rem);
  padding-bottom: 40px;
  padding-top: 100px;
}
.sad h5 {
  font-family: Montserrat, sans-serif;
  font-size: calc(6vw + 1.5rem);
  font-weight: bold;
  display: block;
}
.sad img {
  color: white;
}
.sad p {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  border: 3px solid white;
  padding: 16px 0px 14px;
  margin: 49px auto;
  width: 161px;
}
.sad nav {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  font-size: 0;
  text-align: right;
  position: relative;
  width: 1200px;
}
.sad nav ul {
  list-style-type: none;
  word-spacing: 25px;
}
.sad nav li {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 10px;
}
.sad nav .underline:hover {
  -webkit-text-decoration: underline 10px;
          text-decoration: underline 10px;
  -webkit-text-decoration-color: #fce38a;
          text-decoration-color: #fce38a;
  -moz-text-decoration-color: #fce38a;
  text-decoration-thickness: 3px;
  color: #fce38a;
  text-underline-offset: 10px;
}
.sad nav h6 {
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 4%;
  padding-left: 20px;
}
.sad nav a {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}
.sad nav img {
  padding: 0px 20px 0px;
  display: inline-block;
}
.sad .fakefooter {
  width: 62.5%;
  margin: 0 auto;
  font-size: 0;
  max-width: 100%;
  position: absolute;
  bottom: 3%;
  right: -14%;
  max-width: 100%;
  transform: translate(-50%, 0%);
}
.sad .fakefooter div {
  display: inline-block;
  width: 25%;
  text-align: left;
}
.sad .fakefooter div img {
  max-width: 100%;
  padding-right: 10px;
}
.sad .fakefooter div h6 {
  display: inline-block;
  padding: 10px 5px 0px 0px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: white;
  width: auto;
  margin: 0;
  font-size: calc(1.2rem + 0.5vw);
}
.sad .fakefooter div p {
  font-family: Montserrat, sans-serif;
  display: inline-block;
  color: white;
  border: none;
  margin: 0;
  padding: 0;
  width: 30%;
  font-size: calc(0.9rem + 0.5vw);
}

.ABOUT {
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: center;
}
.ABOUT img {
  max-width: 100%;
}
.ABOUT .gradient {
  position: relative;
  background: rgb(195, 85, 17);
  background: linear-gradient(165deg, rgb(195, 85, 17) 0%, rgba(254, 183, 101, 0.6671043417) 33%, rgb(209, 147, 21) 100%);
  display: inline-block;
  position: relative;
  max-width: 100%;
  margin: 5px;
}
.ABOUT .gradient .photo {
  text-align: center;
  position: relative;
}
.ABOUT .gradient .photo .verynice {
  position: absolute;
  top: 116px;
  bottom: 0;
  left: 125px;
  right: 13px;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}
.ABOUT .gradient .photo p {
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}
.ABOUT .gradient .photo:hover {
  box-shadow: 10px 10px #95e1d3;
  opacity: 0.5;
  visibility: visible;
}
.ABOUT .gradient:hover .verynice {
  visibility: visible;
  opacity: 1;
}

.facts {
  width: 100%;
  max-width: 100%;
  font-size: 0;
  background-color: #95e1d3;
  text-align: center;
  margin-top: 50px;
}
.facts .flexing {
  display: inline-block;
  width: 240px;
  padding-top: 86px;
  padding-bottom: 88px;
  border-right: 1px solid #b5eae0;
  border-left: 1px solid #b5eae0;
  max-width: 100%;
}
.facts .flexing h6 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: calc(3vw + 2rem);
  color: white;
  margin: 0 auto;
}
.facts .flexing p {
  font-family: Montserrat, sans-serif;
  color: white;
  margin: 0 auto;
  font-size: 1.4rem;
  padding-top: 10px;
}

.workwith {
  text-align: center;
  width: 100%;
  max-width: 100%;
}
.workwith div {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  max-width: 100%;
}
.workwith div div {
  width: 32%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  text-align: left;
  max-width: 100%;
}
.workwith div div h5 {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  color: #333333;
  font-weight: bold;
  display: inline-block;
  padding-left: 70px;
  padding-bottom: 12px;
}
.workwith div div p {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: #999999;
  display: inline-block;
  padding-left: 70px;
  line-height: 22px;
  font-weight: normal;
}
.workwith div div img {
  display: inline-block;
  position: absolute;
  left: 3%;
  max-width: 100%;
}
.workwith .firstrow {
  padding-bottom: 50px;
  max-width: 100%;
}
.workwith .secondrow {
  border-top: 1px solid #b5eae0;
  padding-top: 50px;
  max-width: 100%;
}

.features {
  background: url("images/somebackground.png") no-repeat center;
  background-size: cover;
  position: relative;
  padding-top: 50px;
  margin-top: 30px;
  padding-bottom: 80vh;
}
.features .wot .image1 {
  position: absolute;
  max-width: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  padding: 0;
  margin: 0;
}
.features .wot .image2 {
  position: absolute;
  bottom: 0%;
  padding: 0;
  margin: 0;
  max-width: 25%;
  transform: translate(50%, 20%);
}

.idk {
  font-size: 0;
  padding: 20px;
  margin: 0px auto;
  text-align: center;
  width: 1200px;
  max-width: 100%;
}
.idk .picture {
  width: 50%;
  margin: 0 auto;
  display: inline-block;
}
.idk .picture img {
  max-width: 100%;
}
.idk .fieldtextarea {
  width: 50%;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  max-width: 100%;
}
.idk .fieldtextarea .importantdiv {
  margin-bottom: 200px;
}
.idk .fieldtextarea .importantdiv div {
  height: 190px;
  width: 100%;
  margin-left: -1px;
  margin-top: 56px;
}
.idk .fieldtextarea .importantdiv div textarea {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  border: 0px;
  height: 126px;
  width: 90%;
  resize: none;
  margin-top: 15px;
  margin-left: 15px;
  color: #999999;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: 300;
}
.idk .fieldtextarea div {
  display: block;
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 58px;
  position: relative;
}
.idk .fieldtextarea div h6 {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  top: 36%;
  left: 12%;
  color: #333333;
}
.idk .fieldtextarea div img {
  position: absolute;
  top: 15%;
  left: 2%;
}
.idk .fieldtextarea div img.arrows {
  position: absolute;
  top: 38%;
  left: 90%;
}

.quote {
  max-width: 100%;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 1920px;
  margin: 0;
  font-size: 0;
  padding: 69px;
}
.quote div {
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  padding: 0px 0;
  width: 1200px;
  max-width: 100%;
  position: relative;
}
.quote div .contone {
  max-width: 100%;
  width: 32%;
  margin: 0 auto;
  display: inline;
  vertical-align: middle;
}
.quote div .contone img {
  max-width: 125%;
}
.quote div .conttwo {
  width: 68%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.quote div .conttwo .hr-line {
  padding-right: 10px;
}
.quote div p {
  font-family: Roboto, sans-serif;
  font-size: calc(1.2rem + 1vw);
  font-weight: 300;
  font-style: italic;
  color: #999999;
  display: inline-block;
  padding-bottom: 11px;
  line-height: 35px;
}
.quote div h6 {
  font-family: Kaushan Script, sans-serif;
  font-size: calc(1.2rem + 1vw);
  color: #333333;
  display: inline-block;
  padding-top: 5px;
}
.quote div .rodykles1 {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.quote div .rodykles2 {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.quote div .squareimage {
  padding: 0px 60px 0px 90px;
}

.meetourteam {
  max-width: 100%;
}
.meetourteam div {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  max-width: 100%;
}
.meetourteam .teamtwo {
  margin: 0 auto;
}
.meetourteam .teamtwo h6 {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  color: #333333;
  font-weight: bold;
  padding-bottom: 10px;
  width: auto;
}
.meetourteam .teamtwo p {
  width: auto;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
  color: #999999;
}
.meetourteam .teamtwo div {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
  margin: 18px;
  text-align: center;
  max-width: 100%;
  padding: 10px;
  vertical-align: top;
}
.meetourteam .teamtwo div img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
}

.logos {
  width: 100%;
  padding-bottom: 51px;
  background-color: #f8f8f8;
  max-width: 100%;
  max-height: 100%;
}
.logos div {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
}
.logos div img {
  margin: 0 auto;
  padding-top: 51px;
  max-width: 100%;
}

.whatwedo {
  font-size: 0;
}
.whatwedo div p {
  padding-bottom: 20px;
}
.whatwedo .leftpictures {
  width: 50%;
  display: inline-block;
  font-size: 0;
}
.whatwedo .leftpictures img {
  width: 50%;
}
.whatwedo .rightpictures {
  width: 50%;
  display: inline-block;
  font-size: 0;
}
.whatwedo .rightpictures img {
  width: 50%;
}
.whatwedo .rightpictures div {
  width: 50%;
  display: inline-block;
  padding-bottom: 50px;
}
.whatwedo .rightpictures div img {
  width: 100%;
}

.quotetwo {
  max-width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0 auto;
  font-size: 0;
  padding: 0px 0px 5vh;
}
.quotetwo div {
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  padding: 0px 0;
  width: 1200px;
  max-width: 100%;
  position: relative;
}
.quotetwo div .contone {
  width: 32%;
  margin: 0 auto;
  display: inline;
  vertical-align: middle;
}
.quotetwo div .conttwo {
  width: 68%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  font-size: 2.4rem;
  text-align: left;
}
.quotetwo div .conttwo .hr-line {
  padding-right: 10px;
}
.quotetwo div p {
  font-family: Roboto, sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  display: inline-block;
  padding-bottom: 11px;
  line-height: 35px;
  width: auto;
  padding-right: 25px;
}
.quotetwo div h6 {
  font-family: Kaushan Script, sans-serif;
  font-size: 2.4rem;
  color: #333333;
  display: inline-block;
  padding-top: 5px;
}
.quotetwo div .rodykles {
  margin: 0px 0px -12px 20px;
}
.quotetwo div .squareimage {
  padding: 0px 60px 0px 90px;
  max-width: 100%;
}
.quotetwo div .pfppicture {
  padding: 0px 30px 0px 60px;
  max-width: 100%;
}
.quotetwo div .rodykles1 {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.quotetwo div .rodykles2 {
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.happyclients {
  background-image: url("images/background2.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: white;
  background-size: cover;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  max-width: 100%;
  padding-bottom: 50px;
}
.happyclients .main {
  width: 62.5%;
  margin: 0 auto;
  padding-top: 100px;
  max-width: 100%;
}
.happyclients .main h6 {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  color: #333333;
  padding-bottom: 10px;
  font-weight: bold;
}
.happyclients .main h5 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: #333333;
  padding-bottom: 10px;
}
.happyclients .main p {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: #999999;
  padding-top: 15px;
  line-height: 1.5;
  max-width: 294%;
}
.happyclients .main div {
  font-size: 0;
  width: 50%;
  display: inline-block;
  text-align: left;
  max-width: 100%;
}
.happyclients .main div .contone {
  display: inline;
}
.happyclients .main .conttwo {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 30px;
  max-width: 100%;
  width: 100%;
}

.latestblog {
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  max-width: 100%;
  padding: 20px;
}
.latestblog img {
  max-width: 100%;
}
.latestblog .blogblocks {
  width: 400px;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  font-size: 0;
  max-width: 100%;
}
.latestblog .blogblocks h6 {
  font-size: 1.4rem;
  font-family: Montserrat, sans-serif;
  color: #333333;
  font-weight: bold;
  padding: 10px 0px 10px 10px;
}
.latestblog .blogblocks .smallnumbers {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #999999;
  border: none;
  display: inline-block;
  width: 10%;
  padding: 20px 0px 80px 2px;
}
.latestblog .blogblocks p {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  color: #999999;
  border-bottom: 1px solid #e5e5e5;
  width: 95%;
  padding-left: 10px;
  line-height: 1.5;
  padding: 0px 0px 15px;
}

.openmap {
  width: 100%;
  background-image: url("images/openmap.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: white;
  margin: 0 auto;
  height: 100%;
  font-size: 0;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.openmap h6 {
  font-family: Montserrat, sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  color: #f38181;
}

.footer {
  background-color: #f8f8f8;
  max-width: 100%;
  text-align: center;
  font-size: 0;
  padding: 100px 20px 10px;
}
.footer hr {
  max-width: 100%;
  border: 1px solid #e5e5e5;
}
.footer div {
  width: 375px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}
.footer p {
  font-size: 1.4rem;
  font-family: Montserrat, sans-serif;
  color: #333333;
  font-weight: bold;
}
.footer p span {
  color: #f38181;
}
.footer .leftfooter {
  vertical-align: top;
  font-size: 0;
  text-align: left;
  max-width: 100%;
}
.footer .leftfooter hr {
  width: 320px;
  border: 1px solid #e5e5e5;
  max-width: 95%;
}
.footer .leftfooter h6 {
  font-family: Montserrat, sans-serif;
  font-size: 4.6rem;
  font-weight: bold;
  color: #999999;
}
.footer .leftfooter p {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: #999999;
  font-weight: 400;
  line-height: 1.3;
  width: 100%;
}
.footer .leftfooter h5 {
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333333;
}
.footer .leftfooter span {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}
.footer .leftfooter h4 {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #999999;
  font-weight: 300;
  display: inline-block;
  padding-right: 15px;
}
.footer .leftfooter img {
  display: inline-block;
  padding: 15px 0px 0px 0px;
  margin: 0px 5px 0px;
}
.footer .leftfooter input[type=submit] {
  border: 1px solid #95e1d3;
  background-color: #95e1d3;
  width: 130px;
  height: 44px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.4rem;
  display: inline-block;
  margin: 30px 0px 50px;
  width: 30%;
}
.footer .leftfooter input[type=email] {
  border: solid 1px #d2d2d2;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #999999;
  width: 230px;
  height: 40px;
  display: inline-block;
  width: 65%;
}
.footer .middlefooter {
  vertical-align: top;
  max-width: 100%;
}
.footer .middlefooter h6 {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  color: #333333;
  font-weight: bold;
  padding-bottom: 40px;
}
.footer .middlefooter div {
  text-align: left;
  margin: 0 auto;
  font-size: 0;
  padding: 0;
  max-width: 400px;
  width: 100%;
}
.footer .middlefooter div img {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 20px;
}
.footer .middlefooter div h6 {
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
  color: #333333;
  font-weight: bold;
  display: inline-block;
  max-width: 100%;
  width: 250px;
  margin: 0 auto;
  padding: 20px 0px 0px 20px;
  line-height: 1.4;
}
.footer .middlefooter div p {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 300;
  color: #999999;
  margin: 1px auto;
}
.footer .rightfooter {
  max-width: 100%;
}
.footer .rightfooter h6 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: #333333;
  padding-bottom: 40px;
}
.footer .rightfooter p {
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 50px;
}
.footer .rightfooter img {
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */